{% extends "photo/base.html" %}

{% block content %}

<div class="container-fluid" style="padding: 0; margin: 0;">
    <div class="container-fluid front-photo-background" style="margin: 0; padding: 0;">
        <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                <div class="front-photo">
                    <h1>Photo-board</h1>
                    <p>
                        The internet's source of freely usable images <br>
                        Powered by Photo-board by Andrew John
                    </p>
                    <form class="form-inline my-2 my-lg-0 text-center main">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" class="form-control" placeholder="Search free high-resolution photos">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid gallery">
        {% for photo in pics %}
        <div class="box">
            <img src="{{photo.image.url}}" alt="photo">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}