{% extends "photo/base.html" %}

{% block content %}

<div class="container-fluid" style="padding: 0; margin: 0;">
    <div class="container-fluid front-photo-background" style="margin: 0; padding: 0;">
        <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                <div class="front-photo">
                    <h1>Photo-board</h1>
                    <p>
                        The internet's source of freely usable images <br>
                        Powered by Photo-board by Andrew John
                    </p>
                    <form class="form-inline my-2 my-lg-0 text-center main" action="/search/" method="GET">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="search" name="q" class="form-control"
                                placeholder="Search free high-resolution photos" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid gallery">
        {% for photo in photos %}
        <div class="box img-wrapper" data-toggle="modal" data-target="#staticBackdrop{{photo.id}}">
            <img src="{{photo.image.url}}" alt="photo" id="myImg">
            <a href="{{ photo.image.url }}" download="{{ photo.id }}">
                <div class="add-btn" title="Download photo">
                    <button><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                </div>
            </a>
        </div>

        <div class="modal fade" id="staticBackdrop{{photo.id}}" data-backdrop="static" data-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-md-12">
                            <h5 class="modal-title" id="staticBackdropLabel">{{photo.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="modal-body">
                        <img src="{{photo.image.url}}" class="img-responsive" alt="Image"
                            style="width: 450px; height: 400px;">

                        <h4 class="pl-3 pt-3">Category:<strong>{{photo.category}}</strong></h4>
                    </div>
                    <div class="modal-footer row">
                        <div class="col-md-9">
                            <input type="text" value="{{photo.image.url}}" id="{{photo.id}}.url">
                            <button class="btn btn-outline-primary" onclick="copy('{{photo.id}}.url')">Copy
                                Link</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}