{%extends 'photo/base.html'%}
{% block content %}


{% if q %}
<div class="category">
    <h1> {{ q |capfirst }} </h1>
    <p style="font-weight: bold; font-size: 20px;">
        {% with results.count as total_results %}
        Photos {{ total_results }}
        {% endwith %}
    </p>
</div>

<div class="container-fluid gallery">
    {% for photo in results %}
    <div class="box">
        <img src="{{photo.image.url}}" alt="photo">
    </div>

    {% empty %}

    <p>No results found</p>

    {% endfor %}
</div>

{% else %}

<p>No results found </p>
{% endif %}
{% endblock %}