body{
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.8);
}
.navbar-brand img {
  width: 40px;
  height: 30px;
  object-fit: cover;
}
.navbar-brand span{
    font-size: 15px;
}
.navbar ul{
    font-size: 17px;
    font-family: sans-serif;
    color: #202020;
}
.navbar .main-nav{
    gap: 20px;
}
.navbar-brand{
    margin-left: 2%;
    margin-right: 8%;
}
.main {
  width: 200%;
}
.main ::placeholder {
  font-size: 14px;
}
.main input:focus {
  outline: none !important;
}
.has-search .form-control {
  padding-left: 3rem;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search-box {
  position: relative;
  width: 100%;
  margin-right: 30px;
}
.search-box .search-box__input {
  outline: none;
  background:white;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 7px 14px 7px 40px;
  width: 0%;
  font-size: 13px;
  color: black;
  opacity: 0;
  transition: ease width 1s, ease opacity 1s;
  float: right;
}
.search-box .search-box__icon {
  position: absolute;
  top: 7px;
  color: black;
  z-index: 10;
  cursor: pointer;
  right: 12px;
  transition: ease transform 1s;
  transition-delay: 50ms;
  font-size: 20px;
}
.search-box.active .search-box__icon {
  transform: translateX(-214px);
}
.search-box.active .search-box__input {
  opacity: 1;
  width: 100%;
}
.front-photo-background{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../photo/images/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.front-photo{
    margin-top: 13rem;
    text-align: center;
    align-content: flex-end;
}
.front-photo h1{
    font-size: 50px;
    color: white;
    display: block;
    font-weight: bold;
}
.front-photo p{
    font-size: 18px;
    color: white;
    display: block;
}
.front-photo form{
    display: inline-block;
    width: 550px;
}
.gallery{
    margin-top: 3rem;
    width: 100vw;
    columns: 3;
    column-gap: 10px;
}
.gallery .box img{
    width: 600px;
    max-width: 100%;
    object-fit: cover;
}
.gallery .box{
    width: 100%;
    margin: 0 0 10px;
    padding-right: 12px;
    overflow: hidden;
    break-inside: avoid;
}
